*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: antiquewhite;
  min-height: 100vh;
}

.noticia-wrapper {
  padding: 30px;
  margin: 40px;
  overflow: hidden;
  .noticia {
    color: #282c34;
    background-color: rgb(248, 215, 172);
    border-radius: 30px;
    padding: 15px;
    margin: 30px;
      h1{
        font-size: 40px;
      }
      h2 {
        font-size: 25px;
      }
      p {
        font-size: 25px;
      }
      .noticia-img {
        width: 400px;
        max-width: 100%;
        height: auto;
        margin: 20px;
        border-radius: 20px;
      }
  }
}

input {
  margin: 5px;
  margin-top: 10px;
  border-radius: 5px;
}

.btn {
  border-radius: 50%;
  font-size: 17px;
  background-color: rgb(248, 215, 172);
  :hover {
    cursor: pointer;
  }
  .search {
    border-radius: 50%;
  }
}